.rowButton {
  display: flex;
  border: none;
  border-radius: 0;
  background: transparent;
  color: black;
  width: 100%;
  justify-content: flex-start;
  font-size: 1em;
}
.rowButton:hover,
.rowButton:focus,
.rowButton:active {
  background-color: grey;
}

#rowContainer {
  
}